<div class="footer">
  <h4>My Social Links</h4>
  <div class="footer-icons">
    <img
      src="./assets/website.svg"
      (click)="toPortfolioSite()"
      alt="My portfolio page"
      class="footer-icon"
      matTooltip="My Portfolio"
    />
    <img
      src="./assets/Github-Logo.svg"
      (click)="toGitHub()"
      alt="My Github page"
      class="footer-icon"
      matTooltip="Github"
    />
    <img
      src="./assets/Linkedin-Logo.svg"
      mat-button
      (click)="toLinkedIn()"
      alt="My LinkedIn page"
      class="footer-icon"
      matTooltip="LinkedIn"
    />
  </div>
</div>
