.dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.masthead {
  font-size: 4em;
  font-weight: 700;
  margin: 1em;
}
.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
