<div class="movie-cards-container">
  <mat-card *ngFor="let movie of movies; let i = index">
    <mat-dialog-content>
      <div
        class="title-container"
        [ngClass]="{ 'hover-effect': isLongTitle(movie.Title) }"
      >
        <mat-card-title class="title" [title]="movie.Title">{{
          movie.Title
        }}</mat-card-title>
      </div>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
      <img src="{{ movie.ImagePath }}" draggable="false" />
    </mat-dialog-content>
    <mat-card-actions>
      <button mat-button color="primary">Genre</button>
      <button mat-button color="primary">Director</button>
      <button mat-button color="primary">Synopsis</button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
