h1 {
  font-size: 40px;
  margin: 30px 60px;
}

.movie-collection {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1%;
}
mat-card {
  flex: 0 0 auto;
  width: 300px;
  background: rgba(0, 0, 0, 0.35);
  flex-shrink: 0;
  width: calc(20% - 20px);
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.movie-row,
.all-movies-row {
  display: flex;
  align-items: center;
  overflow-x: auto;
  justify-content: center;
}

.movie-cards-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  padding: 0 60px;
  width: calc(100% - 275px);
  cursor: pointer;
}

.movie-cards-container:active {
  cursor: grabbing;
}

.movie-cards-container::-webkit-scrollbar {
  display: none;
}

.movie-cards-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.movie-cards-container {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.scroll-button:first-child {
  left: 0;
}

.scroll-button:last-child {
  /* Right button */
  right: 0;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

.title-container {
  overflow: hidden;
  text-align: center;
  user-select: none;
}

mat-card-subtitle {
  text-align: center;
  user-select: none;
}

.title {
  font-size: 23px;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  left: 0;
  transition: left 0.5s ease-out;
}

.title-container.hover-effect:hover .title {
  left: -100%;
  transition: left 5s linear;
}

mat-icon {
  justify-content: space-between;
}

.accent-color {
  background-color: #ff4081;
  color: white;
}
@media (max-width: 1450px) {
  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;
  }
}

@media (max-width: 1115px) {
  mat-card {
    width: calc(50% - 20px);
  }
}

/* Tablet screens */
@media (max-width: 1024px) {
  mat-card {
    width: calc(50% - 120px);
  }
  mat-card-actions {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  mat-card {
    width: calc(100% - 168px);
  }

  .movie-cards-container {
    padding: 0 10px;
  }

  .scroll-button {
    display: none; /* Hide the scroll buttons on mobile screens */
  }

  mat-card-actions {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
  }

  mat-icon {
    font-size: 20px;
  }
}

/* Very small mobile screens */
@media (max-width: 480px) {
  mat-card {
    width: calc(100% - 20px);
  }

  h1 {
    text-align: center;
  }
  mat-card-actions {
    flex-direction: row;
    justify-content: space-between;
  }
}
